<div class "row">
<div class ="span12">
   <div class="span2">
      <img src=' /assets/transpo_logo.png'> 
    </div>
    <div class="span4">
      <h1>Transpo</h1> 
      <p class="lead">taking you everywhere</p>
    </div>      
    </div>
  </div>
</div>

<div class ="span12 offset1">
  <section id="navbar">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="container" style="width: auto;">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <div class="nav-collapse">
          <ul class="nav">
            <li><a href="<%= root_path %>">Home</a></li>
            <li><a href="<%= vehicles_path %>">Bookings</a></li>
          </ul>
          <ul class="nav pull-right">
              <li></li>
            <li><a href="<%= new_session_path %>">Login</a></li>
            <li class="divider-vertical"></li>
            <li><a href="<%= new_user_path %>">Sign Up</a></li>
          </ul>
       </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div><!-- /navbar -->
</div>
</section>
</div>